.body-class {
    @apply bg-gray-200 bg-local bg-cover;
    //background-image: url("../img/background/flat-lay-food-frame-with-copy-space.jpg");
    //background-image: url("../img/background/flat-lay-vegetables-assortment-wooden-background.jpg");
    //background-image: url("../img/background/french-fries-with-copy-space.jpg");
    //background-image: url("../img/background/mexican-food-composition-with-lower-space.jpg");
    //background-image: url("../img/background/mexican-meal.jpg");
    //background-image: url("../img/background/pexels-lucie-liz-3193647.jpg");
    //background-image: url("../img/background/pexels-pixabay-326279.jpg");
    background-image: url("../img/background/pexels-ray-piedra-1565982.jpg");
    //background-image: url("../img/background/top-view-frame-with-fast-food-copy-space.jpg");
    //background-image: url("../img/background/top-view-spices-stucco-background.jpg");
}
// page transitions
.page-enter-active,
.page-leave-active {
    transition: opacity ease-in-out 0.1s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}
